
@model ScheduleGenerateViewModel

@{
    string currentTime = DateTime.Now.ToString("d") + "T" + DateTime.Now.ToString("hh:MM");
}

<link rel="stylesheet" href="~/css/flightindex.css">

<div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center " style="background-image: url(../Images/controltower.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Generate New Schedule</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />

<form style="margin-right: 65%;" asp-controller="Admin" asp-action="GenerateSchedule" method="post">
    <div class="form-group">
        <label>Date and Time:</label>
        <input class="form-control" asp-for="Date"/>
        <span asp-validation-for="Date"></span>
    </div>
    <br />
    <a class="btn btn-danger active" asp-controller="Admin" asp-action="Schedule">Go Back</a>
    <button class="btn btn-primary active" onclick="message()" type="submit">Generate Schedule</button>
</form>

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Schedule Generated',
                    showConfirmButton: false,
                    timer: 1500                   
                    });
        }
    </script>
