@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin:100px;">
  <a class="btn btn-primary" asp-action="List" asp-controller="Airline">Admin Airline List View</a>
  </div>

  <div style="margin:100px;">
  <a class="btn btn-primary" asp-action="List" asp-controller="Plane">Admin Plane List View</a>
  </div>

   <div style="margin:100px;">
  <a class="btn btn-primary" asp-action="Index" asp-controller="Flight">Admin Flight List View</a>
  </div>

   <div style="margin:100px;">
  <a class="btn btn-primary" asp-action="List" asp-controller="Admin">Admin Gates & Runways List View</a>
  </div>

  <div style="margin:100px;">
  <a class="btn btn-primary" asp-action="Schedule" asp-controller="Admin">Admin Schedules List & Approval</a>
  </div>

