
<link rel="stylesheet" href="~/css/dashboard.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>


<div class="container-fluid" style="padding: 0 0 0 0;">
    <div class="row">
        <div class="col-lg-2 bg-dark-blue d-none d-sm-block" style="padding-top: 10px; padding-bottom: 20px;">
            <center><i class="fas fa-user fa-5x text-white" style="padding-bottom: 20px;"></i></center>

                <center>
                    <p style="color:white">@User.Identity.Name</p>
                </center>
            

                <div class="list-group text-left font-weight-bold" style="padding-top: 30px;">
                    <a class="list-group-item" asp-action="Index" asp-controller="Admin"><i class="fas fa-tachometer-alt text-white"> &nbsp; Dashboard</i></a>
                    <a class="list-group-item" asp-action="ListAllRoles" asp-controller="Role"><i class="fas fa-user text-white"> &nbsp; Manage roles</i></a>
                    <a class="list-group-item" asp-action="ListUsers" asp-controller="Admin"><i class="fas fa-users text-white"> &nbsp; Users</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Airline"><i class="fas fa-user-check text-white">&nbsp; Airlines</i></a>
                    <a class="list-group-item" asp-action="List" asp-controller="Plane"><i class="fas fa-plane text-white"></i>&nbsp; Planes</i></a>
                    <a class="list-group-item" asp-action="Index" asp-controller="Flight"><i class="fas fa-plane-departure text-white">&nbsp; Flights</i></a> 
                    <a class="list-group-item" asp-action="Schedule" asp-controller="Admin"><i class="fas fa-clock text-white">&nbsp; Schedule</i></a>  
                </div>
        </div>
        <div class="col-lg-9" style="padding-bottom: 50px;">
            <h3 class="font-weight-bold" style="padding-top: 50px; padding-bottom: 30px;">Admin Dashboard</h3>
            <p>
                Hello @User.Identity.Name, welcome to the Airwaze admin dashboard.
                </br>
                What would you like to do? Click on the left. 
            </p>
        </div>

    </div>
</div>
</main>


<script src="~/lib/bootstrap/bootstrap-admin/popper.min.js"></script>
<link href="~/lib/bootstrap/bootstrap-admin/bootstrap-parkeasy.css" rel="stylesheet" />
<link href="~/lib/bootstrap/bootstrap-admin/dashboard.css" rel="stylesheet" />




