@using AirWaze.Entities

@{
    List<Schedule> approvedSchedules = Airport.ApprovedSchedules;
    approvedSchedules.Reverse();
}

<link rel="stylesheet" href="~/css/flightindex.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Approved Schedules</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
                <div class="col-lg-9" style="padding-bottom: 50px;">
            <div class="section-top-border">
			    <h3 class="mb-30">All schedules</h3>
@if(Airport.ApprovedSchedules == null)
{
    <h4>There are no approved schedules yet.</h4>
}
else
{
    <table class="table table-striped">
                    <thead class="rounded">
                        <tr>
                            <th scope="col">Approved Schedules</th>
                        </tr>
                    </thead>
                    <tbody>   
            @foreach(var schedule in approvedSchedules)
            {
              <tr>
                    <td><h3>@schedule.Date.ToString("D") - @schedule.Date.Hour.ToString("00") : @schedule.Date.Minute.ToString("00")</h3></td>
                    <td><a class="btn btn-primary" asp-controller="Admin" asp-action="DetailSchedule" asp-route-id="@schedule.ScheduleID">Detail</a></td>
              </tr>      
            }
    </tbody>
    </table>
}
<br />
<br />
<a class="btn btn-primary" asp-controller="Admin" asp-action="Schedule">Back</a>
</div>
</div>
</main>
