@using AirWaze.Entities

@{
    List<Schedule> approvedSchedules = Airport.ApprovedSchedules;
}
<h1>Approved Flight Schedules:</h1>
@if(Airport.ApprovedSchedules == null)
{
    <h2>There are no approved schedules yet.</h2>
}
else
{
    
    @foreach(var schedule in approvedSchedules)
    {
        <h3>@schedule.Date.ToString("D") - @schedule.Date.Hour.ToString("00") : @schedule.Date.Minute.ToString("00")</h3>
        <a class="btn btn-primary" asp-controller="Admin" asp-action="DetailSchedule" asp-route-id="@schedule.ScheduleID">Detail</a>
    }
}
<br />
<br />
<a class="btn btn-primary" asp-controller="Admin" asp-action="Schedule">Back</a>
