@using AirWaze.Entities

<h1>Approved Flight Schedules:</h1>
@if(Airport.ApprovedSchedules == null)
{
    <h2>There are no approved schedules yet.</h2>
}
else
{
    
    @for(int i = 0; i < Airport.ApprovedSchedules.Count; i++)
    {
        <h3>@Airport.ApprovedSchedules[i].Date.ToString("D") - @Airport.ApprovedSchedules[i].Date.Hour.ToString("00") : @Airport.ApprovedSchedules[i].Date.Minute.ToString("00")</h3>
        <!--
        <a class="btn btn-primary" asp-controller="Admin" asp-action="DetailSchedule" asp-route-index="@i">Detail</a>
        -->
    }
}
<br />
<br />
<a class="btn btn-primary" asp-controller="Admin" asp-action="Schedule">Back</a>
