@using AirWaze.Entities

@{
    List<Schedule> approvedSchedules = Airport.ApprovedSchedules;
    approvedSchedules.Reverse();
}

<link rel="stylesheet" href="~/css/flightindex.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center " style="background-image: url(../Images/controltower.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Approved Schedules</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
                <div class="col-lg-9" style="padding-bottom: 50px;">
            <div class="section-top-border">
@if(Airport.ApprovedSchedules.Count == 0)
{
    <h3 style="margin-left: 0;">There are no approved schedules yet.</h3>
}
else
{
    <table class="table table-striped">
                    <thead style="background-color:navy;">
                        <tr>
                            <th scope="col"><h1 style="color: white;">Approved Schedules</h1></th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>   
            @foreach(var schedule in approvedSchedules)
            {
              <tr>
                    <td><h2 style="margin-left: 0;">@schedule.Date.ToString("dd/MM/yyyy hh:mm")</h2></td>
                    <td><a class="btn btn-primary active" asp-controller="Admin" asp-action="DetailSchedule" asp-route-id="@schedule.ScheduleID">Detail</a></td>
              </tr>      
            }
    </tbody>
    </table>
}
<br />
<br />
<a class="btn btn-danger active" asp-controller="Admin" asp-action="Schedule">Go Back</a>
</div>
</div>
</main>
