@using AirWaze.Models
@using AirWaze.Entities
@using AirWaze.Controllers



@if(@AdminController.scheduleToApprove == null)
{
    <a class="btn btn-primary" asp-controller="Admin" asp-action="GenerateSchedule" >Generate New Schedule</a>
}


<h1>Flight Schedule to Approve:</h1>
@if(@AdminController.scheduleToApprove == null)
{
    <p>All schedules have been approved.</p>
}
else
{
<p>@AdminController.scheduleToApprove.Date.ToString("D") - @AdminController.scheduleToApprove.Date.Hour.ToString("00") : @AdminController.scheduleToApprove.Date.Minute.ToString("00")</p>
<a class="btn btn-primary" asp-controller="Admin" asp-action="DetailSchedule" asp-route-index="-1">Detail</a>
<a class="btn btn-success" asp-controller="Admin" asp-action="ApproveSchedule" >Approve Schedule</a>
}
<br />
<br />
<br />
<a class="btn btn-primary" asp-controller="Admin" asp-action="ListSchedules" >See All Approved Schedules</a>
