@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model PlaneEditViewModel


<head>
    <link rel="stylesheet" href="~/css/planecreate.css">
</head>


<form asp-controller="Plane" asp-action="Update" method="post">
    
    <div class="form-group" hidden="hidden">
        <label asp-for="CurrentAirline"></label>
        <input class ="form-control" asp-for="CurrentAirline" />
        <span class="text-danger" asp-validation-for="CurrentAirline"></span>
    </div>
    
    
    <div class="form-group" hidden="hidden">
        <label asp-for="PlaneNr"></label>
        <input class ="form-control" asp-for="PlaneNr"/>
        <span class="text-danger" asp-validation-for="PlaneNr"></span>
    </div>
    <div class="form-group" hidden="hidden">
        <label asp-for="SeatDiagramPic"></label>
        <input class ="form-control" asp-for="SeatDiagramPic"/>
        <span class="text-danger" asp-validation-for="SeatDiagramPic"></span>
    </div>
    
    
   <div class="form-group" >
        <label asp-for="Type"></label>
        <input class ="form-control" asp-for="Type" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="Type"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Manufacturer" ></label>
        <input class ="form-control" asp-for="Manufacturer" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="Manufacturer"></span>
    </div>
    <div class="form-group"  hidden="hidden">
        <label asp-for="SeatDiagramPic" ></label>
        <input class ="form-control" asp-for="SeatDiagramPic" />
        <span class="text-danger" asp-validation-for="SeatDiagramPic"></span>
    </div>
    <div class="form-group">
        <label asp-for="PassengerCapacity"></label>
        <input class ="form-control" asp-for="PassengerCapacity" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="PassengerCapacity"></span>
    </div> 
    <div class="form-group">
        <label asp-for="FirstClassCapacity"></label>
        <input class ="form-control" asp-for="FirstClassCapacity" readonly="readonly" />
        <span class="text-danger" asp-validation-for="FirstClassCapacity"></span>
    </div>
    <div class="form-group">
        <label asp-for="FlightRegion"></label>
        <input class ="form-control" asp-for="FlightRegion" />
        <span class="text-danger" asp-validation-for="FlightRegion"></span>
    </div>
        <div class="form-group">
        <label asp-for="FuelCapacity">Fuel Capacity in Liters</label>
        <input class ="form-control" asp-for="FuelCapacity" />
        <span class="text-danger" asp-validation-for="FuelCapacity"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="LoadCapacity">Load Capacity in Kg</label>
        <input class ="form-control" asp-for="LoadCapacity" />
        <span class="text-danger" asp-validation-for="LoadCapacity"></span>
    </div>
    <div class="form-group">
        <label asp-for="FuelUsagePerKM">Fuel Usage in Liters/Km</label>
        <input class ="form-control" asp-for="FuelUsagePerKM" />
        <span class="text-danger" asp-validation-for="FuelUsagePerKM"></span>
    </div>
     <div class="form-group">
        <label asp-for="ConstructionYear" ></label>
        <input class ="form-control" asp-for="ConstructionYear" readonly="readonly" />
        <span class="text-danger" asp-validation-for="ConstructionYear"></span>
    </div>
    <div class="form-group" >
        <label asp-for="AirMiles">Km in the air for this airport</label>
        <input class ="form-control" asp-for="AirMiles" readonly="readonly"/>
        <span class="text-danger" asp-validation-for="AirMiles"></span>
    </div>
    <div class="form-group" hidden="hidden" >
        <label asp-for="FlightHours"></label>
        <input class ="form-control" asp-for="FlightHours" />
        <span class="text-danger" asp-validation-for="AirMiles"></span>
    </div>
     <div class="form-group" hidden="hidden">
        <label asp-for="NextMainentance"></label>
        <input class ="form-control" asp-for="NextMainentance" />
        <span class="text-danger" asp-validation-for="NextMainentance"></span>
    </div>
       <div class="form-group">
        <input asp-for="IsAvailable"/>
        <label asp-for="IsAvailable">Currently Available and Ready to Rock?</label>
    
    </div>
    

    <button class="btn btn-secondary" onclick="message()" type="submit" style="margin-top:50px;margin-left:40%;width:400px;">Update</button> 
</form>

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Plane Updated',
                    showConfirmButton: false,
                    timer: 1500                 
                    });
        }
    </script>