@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Logging

@using Microsoft.AspNetCore.Mvc.TagHelpers;
@using Microsoft.JSInterop

@inject ILogger<Blazortest> Logger

@inject IJSRuntime jsRuntime


<h1>Timer</h1>

<p>@counter</p>
<button @onclick="StartTimer">Start</button>   

<br />

@code{

    private static System.Timers.Timer thisTimer;
    private int counter = 100;   
    public void StartTimer()
    {
        thisTimer = new System.Timers.Timer(100);
        thisTimer.Elapsed += CountDownTimer;
        thisTimer.Enabled = true;
    }

    public void CountDownTimer(Object source, System.Timers.ElapsedEventArgs e)
    {
        if (counter > 0)
        {
            counter -= 1;          
        }
        else
        {
            thisTimer.Enabled = false;
            thisTimer.Dispose();
            counter = 100;
        }
        InvokeAsync(StateHasChanged);
    }
}