@using AirWaze.Controllers
@using AirWaze.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model TicketCreateViewModel
<head>
    <link rel="stylesheet" href="~/css/Tijs.css"  />
</head>
<div class="filler"></div>
<main>
    
    <div class="slider-height d-flex align-items-top">
        <div class="listContainer">
        <form asp-controller="Ticket" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName"/>
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName"/>
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <p>Flight Information</p>
    <div class="form-group">
        <label>Available Destinations:</label>
        <br />
        <select name="Destination">
            @foreach(var item in @TicketController.allDestinations)
            {
                 <option value=@item.Name>@item.Name</option>
            }
        </select>
    </div>
    <br />
    <br />
    <div class="form-group">
        <label asp-for="FirstClass">Preferred time of departure</label>
        <input asp-for="Departure" value="@DateTime.Today.ToString("yyyy-MM-dd")"/>
    </div>


    <div class="form-group">
        <input asp-for="FirstClass"/>
        <label asp-for="FirstClass">First Class?</label>
    </div>
    <div class="form-group">
        <input asp-for="ExtraLuggage"/>
        <label asp-for="ExtraLuggage">Extra Luggage?</label>
    </div>

    <button class="btn btn-primary" type="submit">Create Ticket</button>
</form>
    </div>
    </div>
</main>
