@using AirWaze.Controllers
@using AirWaze.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model TicketCreateViewModel
<main>
<div style="padding-top:200px;"></div>
<form asp-controller="Ticket" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input class="form-control" asp-for="LastName"/>
        <span class="text-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input class="form-control" asp-for="FirstName"/>
        <span class="text-danger" asp-validation-for="FirstName"></span>
    </div>
    <p>Flight Information</p>
    <div class="form-group">
        <label>Available Destinations:</label>
        <br />
        <select name="Destination">
            @foreach(var item in @TicketController.allDestinations)
            {
                 <option value=@item.Name>@item.Name</option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Confirm Plane</button>
    <div class="form-group">
        <label asp-for="FirstClass">Preferred time of departure</label>
        <input asp-for="Departure"/>
    </div>


    <div class="form-group">
        <input asp-for="FirstClass"/>
        <label asp-for="FirstClass">First Class?</label>
    </div>
    <div class="form-group">
        <input asp-for="ExtraLuggage"/>
        <label asp-for="ExtraLuggage">Extra Luggage?</label>
    </div>

    <button class="btn btn-primary" onclick="message()" type="submit">Create Ticket</button>
</form>
</main>
<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Ticket Created',
                    showConfirmButton: false,
                    timer: 1500                 
                    });
        }
    </script>