@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}                  
                    
@model AirlineCreateViewModel


    <h1>Choose Logo For Airline</h1>
    <div style="padding-top:20px;"> 
<form asp-controller="Airline" asp-action="CreateImg" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadFile" class="form-control" />
    <input type="submit" value="Add Logo For Airliner" id="sub" style="margin-top:20px;"/>
</form>
    </div>




