@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Guid/Model nodig Met Airline</p>
<h1>Hello - insert name Airliner -</h1>

<h1>Status Panel Here, For now Buttons will do</h1>

<a class="btn btn-primary" asp-action="List" asp-controller="Airline">Admin List View</a>

<p> These Dont work yet</p>
<a class="btn btn-primary" asp-action="Detail" asp-controller="Airline" asp-route-ID="HierGUiDAirliner">Detail Pagina</a>

<a class="btn btn-primary" asp-action="Update" asp-controller="Airline" asp-route-ID="HierGUiDAirliner">Update perso gegevens</a>

<a class="btn btn-primary" asp-action="List" asp-controller="Plane" asp-route-ID="HierGUiDAirliner/Planes">Lijst Vliegtuigen</a>

<a class="btn btn-primary" asp-action="List" asp-controller="FLight" asp-route-ID="HierGUiDAirliner/Flights/Planes">Lijst VLuchten</a>

<a class="btn btn-primary" asp-action="Invoices" asp-controller="Airline" asp-route-ID="HierGUiDAirliner">Lijst Facturen</a>




 