@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AirlineEditViewModel

<head>
	 <link rel="stylesheet" href="~/css/airlineindex.css">
</head>
<div style="padding-top:200px;"></div>
<h1 class="mb-30" style="padding-left:380px;padding: 20px;">Update details for @Model.Name</h1>
							<form asp-controller="Airline" asp-action="Update" method="post">
								 <div class="form-group" hidden="hidden">
                                    <label asp-for="AirlineID"></label>
                                    <input class ="form-control" asp-for="AirlineID" />
                                    <span class="text-danger" asp-validation-for="AirlineID"></span>
                                </div>
                                <div class="form-group" hidden="hidden">
                                    <label asp-for="CurrentPlanes"></label>
                                    <input class ="form-control" asp-for="CurrentPlanes" />
                                    <span class="text-danger" asp-validation-for="CurrentPlanes"></span>
                                </div>
                                <div class="form-group" hidden="hidden">
                                    <label asp-for="Logo"></label>
                                    <input class ="form-control" asp-for="Logo" />
                                    <span class="text-danger" asp-validation-for="Logo"></span>
                                </div>
								<div class="mt-10">
                                    <input class="single-input" asp-for="Name" placeholder="Name"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Name'" required />
                                    <span class="text-danger" asp-validation-for="Name"></span>
								</div>
								<div class="mt-10">
									<input class="single-input" asp-for="NameTag" placeholder="NameTag"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'NameTag'" required />
                                    <span class="text-danger" asp-validation-for="NameTag"></span>
								</div>
								<div class="mt-10">
									<input class="single-input" asp-for="CompanyNumber" placeholder="CompanyNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'CompanyNumber'" required />
                                    <span class="text-danger" asp-validation-for="CompanyNumber"></span>
								</div>
								<div class="mt-10">
									<input class="single-input" asp-for="Adress" placeholder="Adress"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Adress'" required />
                                    <span class="text-danger" asp-validation-for="Adress"></span>
								</div>
                                <div class="mt-10">
									<input class="single-input" asp-for="Number" placeholder="Number"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Number'" required />
                                    <span class="text-danger" asp-validation-for="Number"></span>
								</div>
                                <div class="mt-10">
									<input class="single-input" asp-for="City" placeholder="City"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'City'" required />
                                    <span class="text-danger" asp-validation-for="City"></span>
								</div>
                                 <div class="mt-10">
									<input class="single-input" asp-for="Email" placeholder="Email"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'" required />
                                    <span class="text-danger" asp-validation-for="Email"></span>
								</div>
                                <div class="mt-10">
									<input class="single-input" asp-for="PhoneNumber" placeholder="PhoneNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'PhoneNumber'" required />
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
								</div>
                                 <div class="mt-10">
									<input class="single-input" asp-for="AccountNumber" placeholder="AccountNumber"
										onfocus="this.placeholder = ''" onblur="this.placeholder = 'AccountNumber'" required />
                                    <span class="text-danger" asp-validation-for="AccountNumber"></span>
								</div>								
                                  <button class="genric-btn primary e-large" onclick="message()" type="submit" style="margin-top:50px;margin-left:35%;">Update Airline Details<span class="lnr lnr-arrow-right"></span></button>
							</form>

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Airline Modified',
                    showConfirmButton: false,
                    timer: 1500                    
                    });
           
        }
    </script>