@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<link rel="stylesheet" href="~/css/login.css">   


<main class="login-page">
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
    </div>  
    <div><br/></div>
    <div class="card login-card">
        <div class="card-body">
            <h3 class="text-white text-center font-weight-light mb-4">REGISTER</h3>
            <p class="text-info">            
            Please enter your personal information below and click the register button to finish
            logging in.
            </p>
            <hr />
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <div class="form-group">
                <label asp-for="Input.FirstName" class="text-white"></label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" />                
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label asp-for="Input.LastName" class="text-white"></label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" />                
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            </br>

            <div class="form-group">
                <label asp-for="Input.StreetName" class="text-white"></label>
                <input asp-for="Input.StreetName" class="form-control" autocomplete="street" aria-required="true" />                
                <span asp-validation-for="Input.StreetName" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label asp-for="Input.HouseNumber" class="text-white"></label>
                <input asp-for="Input.HouseNumber" class="form-control" autocomplete="nr" aria-required="true" />                
                <span asp-validation-for="Input.HouseNumber" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label asp-for="Input.Bus" class="text-white"></label>
                <input asp-for="Input.Bus" class="form-control" autocomplete="bus" aria-required="false" />                
                <span asp-validation-for="Input.Bus" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label asp-for="Input.Zipcode" class="text-white"></label>
                <input asp-for="Input.Zipcode" class="form-control" autocomplete="zipcode" aria-required="true" />                
                <span asp-validation-for="Input.Zipcode" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label asp-for="Input.City" class="text-white"></label>
                <input asp-for="Input.City" class="form-control" autocomplete="city" aria-required="true" />                
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label asp-for="Input.Country" class="text-white"></label>
                <input asp-for="Input.Country" class="form-control" autocomplete="country" aria-required="true" />                
                <span asp-validation-for="Input.Country" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="text-white"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="phonenumber" aria-required="true" />                
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            </br>

            <div class="form-group">
                <label asp-for="Input.Email" class="text-white"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="Email" aria-required="true" />                
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                <label asp-for="Input.Password" class="text-white"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />                
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            </br>
            <div class="form-group">
                 <label asp-for="Input.ConfirmPassword" class="text-white"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />               
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            </br>
            <input type="submit" value="Register" id="registerSubmit" class="btn btn-danger btn-block mb-3">            
        </form>
         <div class="d-flex justify-content-between mt-4">
                <p class="text-white text-center font-weight-light">Register with</p>
                <p>
                @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="text-white" style="background-color: #00031d" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account"><img src="~/Images/googleLogo.png" height="30px" width="30px"/></button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }              
                </p>
            </div>
        </div>
    </div>
</main>    

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
