
td {
    border: 1px solid lightgrey;
}

thead {
    border: 1px solid black;
    background-color: rgb(66,155,245);
    color: white;
}

td, th {
    text-align: center;
    width: auto;
    padding: 10px;
}

body {
    margin-top: 20px;
    margin-bottom: 60px;
    height: none;
    width: none;
    background-image: url('../Images/airport-wallpapers.jpg');
    background-size: cover;
}
