body {
    margin-bottom: 60px;
    height: none;
    width: none;
    background-color: navy;
    background-image: url('../Images/AirportCheckIn.jpg');
    background-size:contain;
    

}
.listContainer{
    margin-top: 20px;
    padding: 20px;
    height:min-content;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95 );
}
.filler {
    padding-top: 200px;
    
    max-width:1920px;
    opacity: 0.8;
}
