@model AddRoleViewModel

@{
    ViewData["Title"] = "Add Role";
}
<link rel="stylesheet" href="~/css/dashboard.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Dashboard</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="col-lg-9" style="padding-bottom: 50px;">       
    </div>
     <section>
            <div class="container">
                <div class="col-lg-8 col-md-8">
                <h3>Add role</h3>

                <form asp-action="AddRole" method="post" class="mt-3">
                    <div class="mt-10">
                        <label asp-for="RoleName" class="col-1 col-form-label"></label>
                    <div>
                        <input asp-for="RoleName" class="form-control" placeholder="Name" />
                        <span asp-validation-for="RoleName" class="text-danger"></span>
                    </div>
                </div>
                </br>
                <div class="mt-10">
                    <button type="submit" class="genric-btn info circle" onclick="message()">Add role</button> &nbsp; &nbsp; &nbsp;
                    <a asp-action="ListAllRoles" class="genric-btn primary circle">Back</a>
                <div>                    
                </div>
                </div>
                </form>
            </div>
        </div>
    </section>
    <br/>
    <br/>
    <br/>
</main>

<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Role Added',
                    showConfirmButton: false,
                    timer: 1500
                    });
        }
</script>