@using AirWaze.Controllers
@using AirWaze.Models
@using AirWaze.Entities
@model FlightCreateViewModel

@{
    List<Destination> allDestinations = FlightController.destinations.OrderBy(dest => dest.Region).ThenBy(dest => dest.Name).ToList();
}

<h1>Create New Flight</h1>

<form asp-controller="Flight" asp-action="Create" method="post">
    
 <div class="form-group">
        <label>Destination:</label>
        <select name="selectedDestination">
            @foreach(var item in allDestinations)
            {
                 <option value=@item.Name>@item.Region - @item.Name</option>
            }
        </select>
    </div>
    <br />


    <div class="form-group">
        <label asp-for="Departure"></label>
        <input class="form-control" asp-for="Departure" />
        <span asp-validation-for="Departure"></span>
    </div>
     <br />



     <a class="btn btn-primary" asp-controller="Flight" asp-action="Index">Go Back</a>
    <button class="btn btn-primary" onclick="message()" type="submit">Create Flight</button>
</form>
<script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Flight Created',
                    showConfirmButton: false,
                    timer: 1500                   
                    });
        }
    </script>