@using AirWaze.Controllers
@model FlightCreateViewModel

<!-- add method to make list of available planes for that flight - check flight region (destination), and Departure date/time -->



@if(@FlightController.planes.Count > 0)
{
    <h2>Please select the plane for this flight</h2>
<form asp-controller="Flight" asp-action="PlanePicker" asp-route-id=@Model.FlightNr method="post">

 <div class="form-group">
        <label>Available Planes:</label>
        <br />
        <select name="selectedPlaneNr">
            @foreach(var item in @FlightController.planes)
            {
                 <option value=@item.PlaneNr>@item.CurrentAirline.Name - @item.PlaneNr</option>
            }
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Confirm Plane</button>
    </form>
}
else
{
    <h2>There are currently no planes available for this flight.</h2>
    <p>Please try again later or select another Departure Time.</p>

    <a asp-controller="Flight" asp-action="Create">Go Back</a>
}
