
<body>
    <button class="btn btn-primary" aria-label="Try me! Example: A basic message" onclick="message()">
        Try me!
    </button>      
   
</body>
 
   <script type="text/javascript">
        function message()
        {
            Swal.fire({                   
                    position: 'center',
                    icon: 'success',
                    title: 'Plane Added',
                    showConfirmButton: false,
                    timer: 1500                                   
                    });
        }
    </script>