﻿@{
    ViewData["Title"] = "Home Page";
    

}

<body onload="message()">
<header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">Awarded World's Best Airport 2022</span>
                <span class="site-heading-lower">BATMAN AIRPORT</span>
            </h1>
        </header>  
<section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Your GateWay to the World</span>
                                <span class="section-heading-lower">International Airport Hub</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src=@Url.Content("~/Images/AirportIntro1.jpg") alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non sodales neque sodales ut. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Ut tristique et egestas quis ipsum suspendisse. Fermentum dui faucibus in ornare quam viverra. Nunc non blandit massa enim nec dui nunc mattis. Massa sed elementum tempus egestas sed sed risus pretium quam. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Est ante in nibh mauris cursus. Aliquam vestibulum morbi blandit cursus risus at. Ac feugiat sed lectus vestibulum mattis ullamcorper. Mattis enim ut tellus elementum sagittis vitae et leo duis. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Sit amet volutpat consequat mauris. Id volutpat lacus laoreet non curabitur.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Spearheading technological Advance - Book tickets online</span>
                                <span class="section-heading-lower">Full Class services</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src=@Url.Content("~/Images/AirportIntro2.jpg") alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non sodales neque sodales ut. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Ut tristique et egestas quis ipsum suspendisse. Fermentum dui faucibus in ornare quam viverra. Nunc non blandit massa enim nec dui nunc mattis. Massa sed elementum tempus egestas sed sed risus pretium quam. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Est ante in nibh mauris cursus. Aliquam vestibulum morbi blandit cursus risus at. Ac feugiat sed lectus vestibulum mattis ullamcorper. Mattis enim ut tellus elementum sagittis vitae et leo duis. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Sit amet volutpat consequat mauris. Id volutpat lacus laoreet non curabitur.s.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex ms-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Responsive Live Gps-bound map - Many Features to ease your voyage</span>
                                <span class="section-heading-lower">Traveller Comes First </span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src=@Url.Content("~/Images/AirportIntro3.jpg") alt="..." />
                    <div class="product-item-description d-flex me-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non sodales neque sodales ut. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Ut tristique et egestas quis ipsum suspendisse. Fermentum dui faucibus in ornare quam viverra. Nunc non blandit massa enim nec dui nunc mattis. Massa sed elementum tempus egestas sed sed risus pretium quam. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Est ante in nibh mauris cursus. Aliquam vestibulum morbi blandit cursus risus at. Ac feugiat sed lectus vestibulum mattis ullamcorper. Mattis enim ut tellus elementum sagittis vitae et leo duis. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Sit amet volutpat consequat mauris. Id volutpat lacus laoreet non curabitur.outh America. We sell our blends in smaller to large bulk quantities. Please visit us in person for more details.</p></div>
                    </div>
                </div>
            </div>
        </section>
         <section class="page-section">
            <div class="container">
                <div class="product-item">
                    <div class="product-item-title d-flex">
                        <div class="bg-faded p-5 d-flex me-auto rounded">
                            <h2 class="section-heading mb-0">
                                <span class="section-heading-upper">Full Array of Services And Shops</span>
                                <span class="section-heading-lower">Commercial Centre</span>
                            </h2>
                        </div>
                    </div>
                    <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src=@Url.Content("~/Images/AirportIntro4.jpg") alt="..." />
                    <div class="product-item-description d-flex ms-auto">
                        <div class="bg-faded p-5 rounded"><p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non sodales neque sodales ut. Tellus in metus vulputate eu scelerisque felis imperdiet proin. Ut tristique et egestas quis ipsum suspendisse. Fermentum dui faucibus in ornare quam viverra. Nunc non blandit massa enim nec dui nunc mattis. Massa sed elementum tempus egestas sed sed risus pretium quam. Tristique sollicitudin nibh sit amet commodo nulla facilisi. Est ante in nibh mauris cursus. Aliquam vestibulum morbi blandit cursus risus at. Ac feugiat sed lectus vestibulum mattis ullamcorper. Mattis enim ut tellus elementum sagittis vitae et leo duis. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Sit amet volutpat consequat mauris. Id volutpat lacus laoreet non curabitur.</p></div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Hier footer</p></div>
        </footer>

 <script type="text/javascript">
        function message()
        {
            var alerted = localStorage.getItem('alerted') || '';
            if (alerted != 'yes')
            {
                 localStorage.setItem('alerted','yes');
                 Swal.fire({                   
                    position: 'center',                    
                    title: 'Welcome',
                    showConfirmButton: false,
                    timer: 2000,
                    text: 'Welcome To Batman Airport',
                    imageUrl: 'https://media.gettyimages.com/photos/singapore-changi-airport-picture-id603130016',
                    imageWidth: 400,
                    imageHeight: 200,
                    imageAlt: 'Custom image'
                    });        
            }                                       
        }       
    </script>
</body>





  

   