﻿@{
    ViewData["Title"] = "Home Page";
    

}

<body onload="message()">


 <script type="text/javascript">
        function message()
        {
            var alerted = localStorage.getItem('alerted') || '';
            if (alerted != 'yes')
            {
                 localStorage.setItem('alerted','yes');
                 Swal.fire({                   
                    position: 'center',                    
                    title: 'Welcome',
                    showConfirmButton: false,
                    timer: 2000,
                    text: 'Welcome To Batman Airport',
                    imageUrl: 'https://media.gettyimages.com/photos/singapore-changi-airport-picture-id603130016',
                    imageWidth: 400,
                    imageHeight: 200,
                    imageAlt: 'Custom image'
                    });        
            }                                       
        }       
    </script>
</body>





  

   