<link rel="stylesheet" href="~/css/privacy.css">  

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Privacy policy</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>   


</main>


 
   <script type="text/javascript">
       
        
       function message()
        {
      
            Swal.fire({
  text: 'Login Completed',
  icon:'success',
  target: '#custom-target',
  customClass: {
    container: 'position-absolute'
  },
  toast: true,
  position: 'top-right',
  showConfirmButton: false,
  timer: 1500,
  timerProgressBar: true
})
                    
        }
    </script>
