<link rel="stylesheet" href="~/css/contact.css">

<main>
    <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
        <div class="row">                
            <div class="col-12">
                <br/>
                <br/>
                <h2>We received your email. We will answer it as soon as possible.</h2>
                <br/>
                <a href="/Home/Index" class="genric-btn info circle">Back</a>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</main>